@model MSSQLBasics.Models.MSSQLAddData

@{
    ViewBag.Title = "MSSQLAdd";
}

@using(Html.BeginForm("MSSQLAdd", "MSSQL", FormMethod.Post, new { enctype = "multipart/form-data", id = "ms" }))
{
    <div class="row">
        <div class="col">
            @Html.TextBoxFor(model => model.TopicName, new { @class = "form-control", @placeholder = "Topic Name" })
        </div>
    </div>
    <div class="row">
        <div class="col">
            @Html.TextAreaFor(model => model.Syntax, new { @class = "form-control", @placeholder = "Syntax", @style = "height:100px;margin-top:10px" })
        </div>
        <div class="col">
            @Html.TextAreaFor(model => model.Descrption, new { @class = "form-control", @placeholder = "Description", @style = "height:100px;margin-top:10px" })
        </div>
    </div>
    <div class="row">
        <div class="col">
            @Html.TextBoxFor(model => model.ImageData, new { type = "file", @class = "form-control", style = "margin-top:10px" })

        </div>
        <div class="col">
            <input class="btn btn-success btn-sm" type="submit" value="Add Topic" style="margin-top:10px"/>
        </div>
    </div>
}